<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SplitEmu</string>
	<key>CFBundleDisplayName</key>
	<string>SplitEmu</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.josipfx.splitemu</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleExecutable</key>
	<string>splitemu</string>
	<key>CFBundleIconFile</key>
	<string>splitemu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License — https://github.com/JosipFX/splitemu</string>
</dict>
</plist>
